<div class="card">
    <p class="hidden-md hidden-lg cart-container__product-title"><a href="#"><b>{{cartItem.title}}</b></a></p>
    <div class="card-body row">
        <div class="col-md-2 col-xs-5 col-sm-3">
            <img class="product-img" [src]="cartItem.image" alt="{{cartItem.title}}" />
        </div>
        <div class="col-md-7 row p-y-none col-sm-6 col-xs-7">
            <div class="col-md-7 cart-container__product-info">
                <ul class="list-group">
                    <li class="list-group-item borderless p-x-none p-y-none hidden-xs hidden-sm">
                        <a *ngIf="hasProductPath()"href="{{cartItem.productPath}}"><b>{{cartItem.title}}</b></a>
                        <span *ngIf="!hasProductPath()" ><b>{{cartItem.title}}</b></span>
                    </li>
                    <li class="list-group-item borderless p-x-none p-y-none"><b>{{data?.categoryText}} #:
                        </b>{{cartItem.catalogNumber}}</li>
                    <li class="list-group-item borderless p-x-none p-y-none"><b>{{data?.unitPriceText}}:
                        </b>{{cartItem.unitPrice | currency: cartItem.currency}}</li>
                </ul>
            </div>
            <div class="col-md-5 cart-container__increment">
                <div class="input-group input-tool" role="group">
                    <span class="input-group-btn">
                        <button (click)="decreaseCount()" type="button" class="btn btn-default btn-lg">
                            <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512">
                                <title>Remove</title>
                                <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="32" d="M400 256H112" />
                            </svg>
                        </button>
                    </span>
                    <div class="form-group form-group-lg">
                        <input type="number" (keypress)="numberOnly($event)" (focusout)="quanityChange($event.target)"
                            min="1" class="form-control count-input" [value]="cartItem.quantity" />
                    </div>
                    <span class="input-group-btn">
                        <button (click)="increaseCount()" type="button" class="btn btn-default btn-lg">
                            <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512">
                                <title>Add</title>
                                <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="32" d="M256 112v288M400 256H112" />
                            </svg>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-3 cart-container__pricing text-right col-sm-3 hidden-xs">
            <p>
                <b>{{data?.priceText}}: </b> {{ cartItem.unitPrice * cartItem.quantity | currency: cartItem.currency }}
            </p>
            <p>
                <a href="javascript:void(0)" (click)="removeItem()">{{data?.removeLinkText}}</a>
            </p>
        </div>
    </div>
    <div class="card-footer row hidden-md hidden-lg hidden-sm">
        <div class="col-xs-6">
            <p><b>{{data?.priceText}}: </b></p>
            <p>{{ cartItem.unitPrice * cartItem.quantity | currency: cartItem.currency }}</p>
        </div>
        <div class="col-xs-6">
            <p class="removeLink"><a href="javascript:void(0)" (click)="removeItem()">{{data?.removeLinkText}}</a></p>
        </div>
    </div>
</div>